.hero {
   background-image: url("../images/coding4.jpg");
}

.hero .row {
   justify-content: start;
}

.projects {
   background-color: #E7EEF2;
}

.projects .row {
   display: flex;
   flex-direction: column;
}

.contact {
   background-color:#004777;
   color: white;
}

.contact .button {
   color: white;
   background-color: #C44536;
}

.contact .description {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

.contact .description i {
   color: rgba(255, 255,255, 0.9);
}