
.Homepage-container {
   display: flex;
   display: -ms-flexbox;
   height: 100vh;
   width: 100%;
   background-image: url('../images/coding1.jpg');
   background-size: cover;
   background-position: center;
   /* justify-content: center; */
   /* align-items: center; */
   color: darkolivegreen;
}
/* .Homepage-container h1 {
   font-size: 4rem;
   font-weight: 400;
   margin-top: 10em;  
} */

img {
    border: 6px solid white;
    background-color: rgb(245, 245, 245);
    -webkit-box-shadow: 0 15px 20px -8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 20px -8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 20px -8px rgba(0, 0, 0, 0.2);
  }