.hero {
   background-color:green;
}

.hero .row {
   justify-content: start;
}

.projects {
   background-color:blue;
}

.projects .row {
   display: flex;
   flex-direction: column;
}

.contact {
   background-color:red;
}